PORT=8000

DEV_MODE=development

MONGO_URL=

JWT_SECRET=

JWT_REFRESH_SECRET=

REDIS_URL=

CLOUDINARY_CLOUD_NAME=

CLOUDINARY_API_KEY=

CLOUDINARY_API_SECRET=

EMAIL_USER=

EMAIL_PASS=

RAZORPAY_KEY_ID=

RAZORPAY_SECRET_KEY=

CLIENT_URL=http://localhost:3000